---
const { title, subtitle } = Astro.props
---

<nav
  class="navbar app-sub-navbar fixed-top navbar-expand-md bg-body-tertiary shadow-sm border-bottom"
>
  <div class="container-fluid flex-md-nowrap">
    <div class="navbar-brand text-truncate me-5">
      <span class="">{title} | {subtitle}</span>
    </div>

    <button
      class="btn d-md-none position-absolute end-0 me-4 top-0 mt-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi-three-dots-vertical"></i>
    </button>

    <div
      class="collapse navbar-collapse flex-md-row-reverse me-3"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/second">Second</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- <a href="/">Go to /</a>&nbsp;
  <a href="/second">Go to /second</a>
   &nbsp;&nbsp;
  <button data-name="app-theme-light">Light</button>
  <button data-name="app-theme-dark">Dark</button>
   &nbsp;&nbsp;
  <button data-name="app-language-es">ES</button>
  <button data-name="app-language-en">EN</button>
  <hr />
  {JSON.stringify(cookie)}
  <hr />
  <span>Now on: <span data-now>{cookie.last}</span></span>|
  <span>Theme: <span data-theme>{cookie.theme}</span></span>|
  <span>Language: <span data-language>{cookie.language}</span></span>
  <hr /> -->

  <script>
    import {
      $last,
      $theme,
      $language,
      $config,
      storeConfig,
      storeTheme,
      storeLanguage
    } from '../../store/store'

    const _componentInit = () => {
      $last.subscribe((last) => {
        console.log('Subheader', '$last', last)
        if (last)
          document.querySelectorAll('span[data-now]')[0].innerHTML = last
      })

      // $theme.subscribe((theme) => {
      //   console.log('Subheader', '$theme', theme)
      //   if (theme)
      //     document.querySelectorAll('span[data-theme]')[0].innerHTML = theme
      // })

      $language.subscribe((language) => {
        console.log('Subheader', '$language', language)
        if (language)
          document.querySelectorAll('span[data-language]')[0].innerHTML =
            language
      })

      $config.subscribe((config) => {
        console.log('Subheader', '$config', config)
      })

      document.querySelectorAll('a').forEach((elem) => {
        elem.addEventListener('click', (e) => {
          console.log(
            'Navigation',
            '_store',
            (e.target as HTMLAnchorElement).href
          )
        })
      })

      document
        .querySelectorAll('button[data-name="app-theme-light"]')
        .forEach((elem) => {
          elem.addEventListener('click', () => {
            console.log('Navigation', 'app-theme-light clicked')
            storeTheme('light')
            //setConfig('theme', 'light')
          })
        })
      document
        .querySelectorAll('button[data-name="app-theme-dark"]')
        .forEach((elem) => {
          elem.addEventListener('click', () => {
            console.log('Navigation', 'app-theme-dark clicked')
            storeTheme('dark')
            //setConfig('theme', 'dark')
          })
        })

      document
        .querySelectorAll('button[data-name="app-language-es"]')
        .forEach((elem) => {
          elem.addEventListener('click', () => {
            storeLanguage('es')
          })
        })
      document
        .querySelectorAll('button[data-name="app-language-en"]')
        .forEach((elem) => {
          elem.addEventListener('click', () => {
            storeLanguage('en')
          })
        })
    }
    document.addEventListener('astro:page-load', _componentInit)
  </script>
</nav>
