---
import '../styles/bootstrap-custom.scss'
import { Debug } from 'astro:components'
import Title from '../components/Title.astro'
import Subheader from '../components/navigation/Subheader.astro'
import Header from '../components/navigation/Header.astro'
import { ViewTransitions } from 'astro:transitions'
import { setTheme } from '../store/store'
interface Props {
  title?: string
  subtitle?: string
  script?: any
}

const { title, subtitle } = Astro.props
const { localsTitle } = Astro.locals
const cookie = {
  last: Astro.cookies.has('last') ? Astro.cookies.get('last')!.value : '',
  language: Astro.cookies.has('language')
    ? Astro.cookies.get('language')!.value
    : '',
  theme: Astro.cookies.has('theme') ? Astro.cookies.get('theme')!.value : ''
}
setTheme(cookie.theme as string)
// $theme.set(cookie.theme as string)
// console.log(cookie, Astro.cookies.get('last'))
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Base : {title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <Header {cookie} {title} {subtitle} />
      <Subheader {cookie} {title} {subtitle} />

      <h1>{title} | {localsTitle}</h1>
      <Title {title} {cookie} />
      <Debug {cookie} />
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your
        project.<br />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
        above.
      </p>
      <hr />
      <span>Now on: <span data-now>{cookie.last}</span></span>|
      <span>Theme: <span data-theme>{cookie.theme}</span></span>|
      <span>Language: <span data-language>{cookie.language}</span></span>
      <hr />
      <slot />
    </main>
    <style is:global>
      /* :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
      }
      .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
      }
      h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
      }
      .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
      }
      .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
          rgba(var(--accent-dark), 66%),
          rgba(var(--accent-dark), 33%)
        );
        padding: 1.5rem;
        border-radius: 8px;
      }
      .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
      }
      .instructions strong {
        color: rgb(var(--accent-light));
      }
      .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
      } */
    </style>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script>
      import { setLast } from '../store/store'

      document.addEventListener(
        'astro:page-load',
        () => {
          console.log('Base', 'astro:page-load', 'once')
        },
        { once: true }
      )

      document.addEventListener('astro:page-load', () => {
        console.log('Base', 'astro:page-load')
        setLast(window.location.href)
      })

      document.addEventListener('astro:after-swap', () => {
        console.log('Base', 'astro:after-swap')
      })
    </script>
  </body>
</html>

